[submodule "Get-next-line"]
	path = Get-next-line
	url = https://github.com/Ancava2000/Get-next-line
[submodule "libft"]
	path = libft
	url = https://github.com/Ancava2000/libft
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/Ancava2000/minitalk
[submodule "philosophers"]
	path = philosophers
	url = https://github.com/Ancava2000/philosophers
