[submodule "Get-next-line"]
	path = Get-next-line
	url = https://github.com/Ancava2000/Get-next-line
[submodule "libft"]
	path = libft
	url = https://github.com/Ancava2000/libft
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/Ancava2000/minitalk
[submodule "philosophers"]
	path = philosophers
	url = https://github.com/Ancava2000/philosophers
[submodule "pipex"]
	path = pipex
	url = https://github.com/Ancava2000/pipex
[submodule "printf"]
	path = printf
	url = https://github.com/Ancava2000/printf
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/Ancava2000/push_swap
[submodule "so_long"]
	path = so_long
	url = https://github.com/Ancava2000/so_long
